[class*="spring-theme"][class*="light-theme"] {
    --primary-color: #2ecc71;
    --secondary-color: #28b463;
    --background-color: #cdffd1;
    --text-color: #2c3e50;
  }
  
[class*="spring-theme"][class*="dark-theme"] {
    --primary-color: #1abc9c;
    --secondary-color: #16a085;
    --background-color: #345e42;
    --text-color: #ecf0f1;
  }
  
[class*="summer-theme"][class*="light-theme"] {
    --primary-color: #f39c12;
    --secondary-color: #f1c40f;
    --background-color: #fff3e6;
    --text-color: #2c3e50;
  }
  
[class*="summer-theme"][class*="dark-theme"] {
    --primary-color: #e67e22;
    --secondary-color: #d35400;
    --background-color: #2c3e50;
    --text-color: #ecf0f1;
  }
  
[class*="autumn-theme"][class*="light-theme"] {
    --primary-color: #e74c3c; 
    --secondary-color: #c0392b;
    --background-color: #fdf2f2;
    --text-color: #2c3e50;
  }
  
[class*="autumn-theme"][class*="dark-theme"] {
    --primary-color: #c0392b;
    --secondary-color: #e74c3c;
    --background-color: #2c3e50;
    --text-color: #ecf0f1;
  }
  
[class*="winter-theme"][class*="light-theme"] {
    --primary-color: #3498db;
    --secondary-color: #5dade2;
    --background-color: #eaf0f9;
    --text-color: #2c3e50;
  }
  
[class*="winter-theme"][class*="dark-theme"] {
    --primary-color: #2980b9;
    --secondary-color: #1f78b4;
    --background-color: #2c3e50;
    --text-color: #ecf0f1;
  }
  

[class*="classic-theme"] {
    --primary-color: #721c94;
    --secondary-color: #8e44ad;
    --background-color: #f1e6fa;
    --text-color: #2c3e50;
  }
  